// ************************************ //
// *****                          ***** //
// *****   APPLICATION COLORS     ***** //
// *****                          ***** //
// ************************************ //

$white: #fff;
$black: #000;
$red: #f00;
$green: green;
$orange: orange;

$background-main: $white;
$deloitte-green: #9BCD00;